.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding-right: 20px;
    border-right: 1px solid #ededed;
}

.menu li {
    display: inline-block;
}

.menu li > a {
    display: block;
    font-size: 16px;
    color: #222;
    padding: 0 12px;
    text-decoration: none;
}


.buttons {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.buttons button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.login-button {
    font-size: 16px;
    color: #222;
    padding: 0 6px;
    border: none;
}

.sign-up-button {
    margin-left: 15px;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
}